@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #E5E8F7;
  font-family: "Poppins", sans-serif;
}
body #title {
  padding-top: 2vh;
  width: 100vw;
  height: 5vh;
  text-align: center;
}
body #carte {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8vw;
}
body #carte .card_container {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
}
body #carte .card_container:hover:hover.card_container .card .img_card {
  border-radius: 0;
}
body #carte .card_container:hover:hover.card_container .card .img_card img {
  height: 100%;
}
body #carte .card_container:hover:hover.card_container .card .title_card {
  border-radius: 0;
}
body #carte .card_container:hover:hover.card_container .down_card {
  opacity: 1;
  height: 60px;
}
body #carte .card_container:hover:hover.card_container .up_card {
  opacity: 1;
  height: 60px;
}
body #carte .card_container .card .img_card {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 15px 15px 0 0;
  align-items: center;
}
body #carte .card_container .card .img_card img {
  height: 90%;
  transition: 0.5s;
}
body #carte .card_container .card .img_card p {
  display: none;
  width: 75%;
  text-align: center;
}
body #carte .card_container .card .img_card:hover {
  border-radius: 0;
}
body #carte .card_container .card .img_card:hover img {
  display: none;
  transition: 0.5s;
}
body #carte .card_container .card .img_card:hover p {
  display: block;
  transition: 1000ms;
}
body #carte .card_container .card .title_card {
  height: 50px;
  width: 300px;
  text-align: center;
  font-weight: bold;
  background-color: #cad3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}
body #carte .card_container .up_card {
  width: 300px;
  border-radius: 15px 15px 0 0;
  display: flex;
  height: 40px;
  opacity: 0;
  transition: 0.5s;
  background-color: #cad3ff;
}
body #carte .card_container .up_card .one_two {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid white;
}
body #carte .card_container .up_card .one_two:nth-child(2) {
  border-left: 1px solid white;
}
body #carte .card_container .down_card {
  width: 300px;
  border-radius: 0 0 15px 15px;
  display: flex;
  height: 0;
  opacity: 0;
  transition: 0.5s;
}
body #carte .card_container .down_card .one_third {
  font-size: 13.3px;
  display: flex;
  flex-direction: column;
  width: 33.3333333333%;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
body #carte .card_container .down_card .one_third a {
  text-decoration: none;
  color: white;
}
body #carte .card_container .down_card .one_third a:hover {
  color: #cad3ff;
}
body #carte .card_container .down_card .one_third:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}/*# sourceMappingURL=main.css.map */